<div class="container">
  <h2 class="title is-2">User Registration Page</h2>
  <%= form_with model: @user do |form| %>
    <div class="field">
      <label class="label">First Name:</label>
      <%= form.text_field :first_name, class: "input", required: true %>
    </div>
    <div class="field">
      <label class="label">Last Name:</label>
      <%= form.text_field :last_name, class: "input", required: true %>
    </div>
    <div class="field">
      <label class="label">Email:</label>
      <%= form.text_field :email, readonly: true, class: "input", required: true %>
    </div>
    <div class="field">
      <label class="label">Password:</label>
      <%= form.password_field :password, class: "input", required: true %>
    </div>
    <div class="field">
      <label class="label">Re-enter Password:</label>
      <%= form.password_field :password_confirm, class: "input", required: true %>
    </div>

    </br>
    </br>
    <%= form.submit class: "button is-success is-rounded is-normal" %>
  <% end %>
</div>
