<div class="container">
  <h2 class="title is-2"><%= @poll.event_name %></h2>
  <%= form_with model: @poll do |f| %>
    <table class="table is-bordered is-striped is-hoverable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>How excited you are to read this book?</th>
        </tr>
      </thead>
      <tbody>
        <% @poll.books.each do |book| %>
          <tr class="is-hoverable">
            <td class="pt-4"><%= link_to book.title, book.link, target: :_blank %></td>
            <td class="pt-4"><%= book.author %></td>
            <td>
              <div class="slidecontainer">
                <%= f.fields_for "user_book_votes[#{book.id}]" do |vote_form| %>
                  <span class="icon is-large has-text-success">
                    <i class="fas fa-lg fa-thumbs-down"></i>
                  </span>
                  <%= vote_form.range_field :score, min: 1, max: 100, step: 1, class: "slider"%>
                  <span class="icon is-large has-text-success">
                    <i class="fas fa-lg fa-thumbs-up"></i>
                  </span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= f.submit value: "Submit Vote", class: "button is-success is-rounded" %>
  <% end %>
</div>
