<div class="container">
  <h2 class="title is-2">Create New Poll</h2>
  <%= form_with model: @poll do |form| %>
    <div class="field">
      <label class="label">Poll Name:</label>
      <%= form.text_field :name, class: "input" %>
    </div>
    <div class="field">
      <label class="label">Poll Start:</label>
      <%= form.date_field :active_starting_at, class: "input" %>
    </div>
    <div class="field">
      <label class="label">Poll End:</label>
      <%= form.date_field :active_ending_at, class: "input" %>
    </div>
    </br>
    </br>
    <h3 class="title is-3">Book options:</h4>
    <%= form.fields_for :options do |options_form| %>
      <div id="fieldsetContainer">
        <fieldset id="0" class="field is-horizontal">
          <label class="field-label">Title:</label>
          <%= options_form.text_field :title, class: "input field-body" %>
          <label class="field-label">Author:</label>
          <%= options_form.text_field :author, class: "input field-body" %>
          <label class="field-label">Link:</label>
          <%= options_form.text_field :link, class: "input field-body" %>
        </fieldset>
      </div>
    <% end %>
    </br>
    <%= form.submit class: "button is-success is-light" %>
    <button type="button" class="button is-info is-light" id="addBook">Add more books</button>
  <% end %>
</div>
