<div class="container">
  <h3 class="title is-2">Book Ideas</h3>
  <%= link_to new_book_path do %>
    <button class="button is-success is-rounded">
      <span class="icon is-large">
        <i class="fas fa-plus-circle"></i>
      </span>
      <span>Add book ideas</span>
    </button>
  <% end %>
  </br>
  </br>
  <table class="table is-bordered is-striped is-hoverable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Submitted By</th>
        <th>Date Submitted</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr class="is-hoverable">
          <td class="pt-4"><%= link_to book.title, book.link, target: :_blank %></td>
          <td class="pt-4"><%= book.author %></td>
          <td class="pt-4"><%= book.user_first_name %></td>
          <td class="pt-4"><%= book.created_at.to_formatted_s(:long) %></td>
            <% if current_user.id == book.user_id || current_user.admin? %>
              <td class="pt-4"><%= link_to(
                book_path(book),
                method: :delete,
                data: {
                  confirm: "Book #{book.title} will be removed. Are you sure?"
                },
                class: "button is-danger is-small is-rounded"
              ) do %>
                <span class="icon is-large">
                  <i class="fas fa-times"></i>
                </span>
              <% end %>
            <% else %>
              <td class="pt-4"></td>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
