<nav class="navbar is-light is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <%= link_to root_path do %>
      <div class="navbar-brand is-hoverable">
        <img src="/logo.jpg">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        </a>
        <div id="app-title" class="title ml-3">DCQEBC</div>
      </div>
    <% end %>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <% unless logged_in? %>
        <%= link_to "Sign In", sessions_new_url,  class: "navbar-item" %>
      <% else %>
        <% if current_user.admin %>
          <%= link_to "Create Poll", new_poll_url, class: "navbar-item" %>
          <%= link_to "Add Users", users_new_url, class: "navbar-item" %>
        <% end %>
        <%= link_to "Sign Out", {
          controller: :sessions,
          action: 'destroy',
        },
          method: 'delete',
          class: "navbar-item"
        %>
      <% end %>
    </div>
  </div>
</nav>
